.stepper {
    /* width: 60%; */
}

.stepper-header {
    display: flex;
    justify-content: space-between;
}

.stepper-container {
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

.stepper-content {
    display: flex;
    justify-content: center;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.step-header {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.step-header__circle {
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1.4px solid var(--gray);
}

.active-circle {
    border: 1.4px solid var(--success);
}

.done-circle {
    background: #58bd7d;
    border-color: #58bd7d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-circle::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--success);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-number {
    background-color: #626262;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.step-title {
    font-weight: bold;
    margin-right: 10px;
    color: var(--gray);
}

.step-header.active .step-number {
    background-color: var(--primary-color);
}

.step-header.active .step-title {
    color: var(--success);
}

.step-content { }

.step-actions {
    display: flex;
    justify-content: flex-end;
}

.btn {
    border-radius: 90px;
    /* margin-left: auto; */
    margin-top: 27px;
    margin-right: 4px;
    padding: 11px 71px;
    border: none;
    font-size: 16px;
    background: var(--bg1);
    color: var(--onsurface);
}

.btn:hover {
    opacity: 0.9;
}

.btn-next {
    background: var(--primary);
    color: var(--onsurface);
    margin-left: 10px;
}

.mobile {
    display: none;
}

.btn-next:disabled {
    opacity: 0.5;
    color: var(--gray);
}

@media only screen and (max-width: 420px) {
    .btn {
        margin-right: 20px;
        margin-top: 15px;
        padding-inline: 60px;
    }

    .btn-danger {
        display: none;
        padding: 10px 25px;
        margin-right: 0px;
    }

    .mobile {
        display: block;
    }
    .stepper-container {
        margin-top: 40px;
    }

    .stepper-header {
        position: absolute;
        width: 90%;
        padding-left: 20px;
        padding-bottom: 15px;
        overflow-x: scroll;
    }

    .step-header__circle {
        width: 21px;
        height: 14px;
    }

    .step-header {
        font-size: 12px;
    }
}
