.select {
    position: relative;
    width: 60%;
}

.select-wrapper {
    padding: 15px 8px 14px;
    background: var(--bg1);
    color: var(--onsurface);
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--line);
    border-radius: 12px;
    display: flex;
    margin-left: 15px;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.select-wrapper__icon {
    margin-inline: 15px;
    margin-bottom: -2px;
}

.select-wrapper__icon img,
.select__options img {
    max-width: 24px;
    height: 24px;
}

.select-wrapper__arrow {
    margin-left: auto;
    background-image: url(../../../assets/arrow.svg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    transform: rotate(90deg);
    width: 25px;
    height: 25px;
}

.select__options {
    display: none;
    position: absolute;
    top: 0px;
    left: 15px;
    width: calc(100% - 15px);
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: var(--bg1);
    z-index: 1;
}

.select__options__icon {
    display: flex;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.select__options__icon img {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.select__options ul {
    padding: 0;
    margin: 0;
}

.select__options li {
    color: var(--onsurface);
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid var(--surface);
}

.select__options li:hover {
    background-color: var(--gray);
}

.visible {
    display: block;
}

.selected-cur {
    background-color: var(--success);
}

.selected-cur--active {
    align-self: center;
    margin-left: auto;
    margin-right: 0;
    border: 1px solid var(--onsurface);
    border-radius: 50%;
    padding: 3px;
}

.selected-cur--dot {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
}

@media (max-width: 400px) {
    .select-wrapper {
        padding: 10px 8px 9px;
        font-size: 15px;
    }

    .select-wrapper__icon img {
        max-width: 16px;
        height: 16px;
    }

    .select-wrapper__icon {
        margin-inline: 8px;
    }
}
