.input-wrapper {
    width: 100%;
    height: 43px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg1);
    border: 1px solid var(--line);
    border-radius: 12px;
    padding-inline: 10px;
}

.input-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--onsurface);
    margin-left: 9px;
    opacity: 0.6;
}

.input-element {
    outline: none;
    width: 40%;
    background: transparent;
    border: none;
    padding: 0;
    color: var(--onsurface);
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

.input-error {
    background: var(--danger);
}

@media (max-width: 400px) {
    .input-wrapper {
        align-items: flex-start;
        flex-direction: column;
        justify-content: normal;
        width: inherit;
        /* width: 170px; */
        /* border-radius: 12px 0px 0px 12px; */
    }

    .input-element {
        font-size: 15px;
        margin-top: auto;
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
    }

    .input-label {
        font-size: 10px;
        margin: 0;
        margin-top: 3px;
    }
}
