.currency-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 20px;
}

.currency-wrapper {
    display: flex;
    padding: 12px 0;
}

.currency-wrapper__btn-convert {
    align-self: flex-end;
    outline: none;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 10px 10px;
}

.currency-wrapper__btn-convert:hover {
    opacity: 0.9;
}

.currency-wrapper__btn {
    background: var(--primary);
    border-radius: 90px;
    margin-left: auto;
    margin-top: 27px;
    margin-right: 4px;
    padding: 11px 71px;
    border: none;
    font-size: 16px;
    color: var(--onsurface);
}

@media (max-width: 400px) {
    .currency-wrapper__btn-convert {
        min-width: 24px;
        height: 24px;
        width: 24px;
        margin: 0;
    }

    .currency-wrapper__btn-convert img {
        width: 12px;
    }
}
