.exchange-details {
    width: 100%;
    color: var(--onsurface);
}

.exchange-details__primary-text {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
}

.exchange-details__text {
    color: var(--gray);
    margin-bottom: 12px;
}

.exchange-details__text-primary {
    font-size: 18px;
    font-weight: 700;
}

.exchange-details__presentation  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
}

.exchange-details__presentation li {
    display: flex;
    margin-right: 10px;
}

.exchange-details__presentation li:nth-child(2) .exchange-details__icon {
    background: var(--success);
}

.exchange-details__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.exchange-details__content {
    font-size: 14px;
    font-weight: 700;
}

.exchange-details__content p {
    color: var(--gray);
}

.exchange-details__content-value {
    color: var(--onsurface)!important;
}

.exchange-details__input input {
    width: 65%;
    font-size: 16px;
}

@media (max-width: 400px) {
    .exchange-details {
        padding-inline: 15px;
    }

    .exchange-details__icon {
        width: 30px;
        height: 30px;
    }

    .exchange-details__icon img {
        width: 15px;
    }

    .exchange-details__primary-text {
        font-size: 20px;
        margin: 15px 0;
    }

    .exchange-details__text {
        font-size: 14px;
    }

    .exchange-details__text-primary {
        font-size: 16px;
    }

    .exchange-details__content {
        display: flex;
        align-self: center;
    }

    .exchange-details__content-value {
        margin-left: 5px;
    }

    .exchange-details__presentation {
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .exchange-details__input input {
        width: 100%;
    }
}