.payment {
    width: 100%;
    color: var(--onsurface);
}

.payment__title {
    text-align: center;
    margin: 7px 0;
}

.payment__info {
    display: flex;
    min-height: 45px;
    margin-bottom: 25px;
}

.payment__info--text {
    color: var(--gray);
    font-weight: 600;
    width: 150px;
}

.payment__info--currency {
    display: flex;
    align-items: flex-start;
}

.payment__info--currency p {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 600;
}

.payment__details {
    display: flex;
}

.payment__details--recipient {
    display: flex;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 14px 14px 10px;
    color: var(--surface);
}

.payment__details--address {
    cursor: pointer;
    padding-inline: 10px;
}

.payment__details--address p {
    word-break: break-all;
    
}

.payment__details--copy-btn {
    cursor: pointer;
    align-self: flex-start;
}

.payment__info--countdown {
    position: absolute;
    right: 40px;
    top: 70px;
}

.payment__details--recipient-error {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__details--recipient-error__contact {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.payment__details--recipient-error__contact p {
    margin-left: 10px;
    color: var(--gray);
}

.payment__info--currency img {
    width: 25px;
}

@media (max-width: 400px) {
    .payment__info {
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .payment__title {
        text-align: center;
        margin: 20px 0 5px;
    }

    .payment__info .payment__info--text {
        display: none;
    }

    .payment__details {
        flex-direction: column;
        padding-inline: 15px;
    }

    .payment__details .payment__info--text {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .payment__info--currency {
        margin-right: auto;
        margin-left: 15px;
    }

    .payment__info--countdown {
        position: absolute;
        right: 10px;
        top: 90px;
    }

    #qr-code {
        display: none;
    }

    .payment__details--copy-btn {
        align-self: center;
        display: flex;
        align-items: center;
        background-color: #c5cadb;
        padding: 5px;
        border-radius: 10px;
    }

    .payment__details--recipient {
        padding: 10px 5px;
    }
}
