.stepper-animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepper-animation .stepper-container {
    position: relative;
    width: 80%; 
    height: 300px; 
    margin: 0 20px;
    overflow: hidden;
}

.stepper-animation .step-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

/* click left */
.step-content-enter-left {
    opacity: 0;
    transform: translateX(-100%);
}

.step-content-enter-active-left {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.step-content-exit-right {
    opacity: 0;
    transform: translateX(0%);
}

.step-content-enter-active-right {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* * */



/* click right */
.step-content-enter-right {
    opacity: 1;
    transform: translateX(100%);
}

.step-content-exit-active-right {
    opacity: 0;
    transform: translateX(0%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.step-content-exit-left { 
    opacity: 0;
    transform: translateX(0%);
}

.step-content-exit-active-left { 
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
/* * */

.steper-click {
    cursor: pointer;
    user-select: none;
}

.step-box {
    align-self: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

/* .step-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 20%;
    height: 100%;
    background: var(--bg);
    z-index: 1;
}

.step-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    background: var(--bg);
    z-index: 1;
} */

.step-item {
    position: relative;
    text-align: center;
}

.step-item__line {
    position: absolute;
    top: 20%;
    left: 80%;
}

.step-item__content-number {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--gray);
}

.step-item__content-title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--onsurface);
}

.step-item__content-desc {
    letter-spacing: -.1px;
    padding: 0 50px;
    text-transform: capitalize;
    color: var(--gray);
}

.steper-click {
    position: absolute;
    top: 50%;
    left: 80%;
    color: var(--onsurface);
    z-index: 2;
}

.step-item__last-icon img {
    width: 70px;
    padding: 12px;
}

.left {
    left: 20%;
}

.prev-line {
    left: -13px;
}