.stepper-animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepper-animation .stepper-container {
    position: relative;
    width: 80%; 
    height: 300px; 
    margin: 0 20px;
    overflow: hidden;
}

.stepper-animation .step-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.steper-click {
    cursor: pointer;
    user-select: none;
}

.step-box {
    align-self: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

.step-item {
    position: relative;
    text-align: center;
}

.step-item__line-box {
    position: absolute;
    top: 20%;
    left: 50%;
}

.step-item__line {
    width: 400px;
    height: 1px;
    background-image: linear-gradient(to right, var(--primary) 25%, transparent 0%);
    background-size: 15px 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.step-item__content-number {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--gray);
}

.step-item__content-title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--onsurface);
}

.step-item__content-desc {
    letter-spacing: -.1px;
    padding: 0 50px;
    color: var(--gray);
}

.step-item__img {
    position: relative;
    z-index: 2;
}

.step-item__circle {
    width: 50px;
    height: 20px;
    position: absolute;
    top: -10px;
    z-index: 1;
    background-color: var(--bg);
}

.step-item__circle span {
    display: block;
    position: relative;
    left: 40px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1.4px solid var(--primary);
    z-index: 2;
}

.step-item_circle-left {
    left: -57px;
}

.step-item_circle-left span {
    left: 0px;
}

.step-item__last-icon .step-item_circle-left {
    display: none;
}

.prev-line .step-item__line {
    width: 150px;
}

.steper-click {
    position: absolute;
    top: 50%;
    left: 80%;
    color: var(--onsurface);
    z-index: 2;
}

.step-item__last-icon .step-item_circle-left {
    top: 29px;
    left: 140px;
}

.step-item__last-icon img {
    width: 70px;
    padding: 12px;
    position: relative;
    z-index: 2;
}

.prev-line {
    left: 50px;
}

@media (max-width: 400px) {
    .stepper-animation {
        margin-top: 10px;
    }

    .step-item {
        flex: 1;
    }

    .stepper-animation .stepper-container {
        height: 290px;
        width: 100%;
    }

    .step-item__last-icon img {
        width: 40px;
        padding: 5px;
    }

    .step-item__content-title {
        margin-bottom: 5px;
        font-size: 13px;
    }

    .step-item__content-desc {
        padding: 0;
        font-size: 11px;
    }

    .step-item__img img {
        width: 50px;
    }

    .step-item__line-box {
        display: none;
    }
}
