:root {
  --primary: #3772ff;
  --bg: #141416;
  --bg1: #222630;
  --onsurface: #fff;
  --surface: #18191d;
  --line: #23262f;
  --success: #58bd7d;
  --gray: #b1b5c3;
}

body {
  background-color: var(--bg);
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  background: initial;
  border: none;
  margin: 0;
  padding: 0;
}

.box {
  width: 70%;
  background: var(--surface);
  padding: 30px 32px;
  border-radius: 20px;
}

.box__input {
  background-color: var(--bg1);
}

.box__input input {
  color: var(--onsurface);
}
