:root {
  --primary: #3772ff;
  --bg: #141416;
  --bg1: #222630;
  --onsurface: #fff;
  --surface: #18191d;
  --line: #23262f;
  --success: #58bd7d;
  --gray: #b1b5c3;
  --red: #d33535;
}

body {
  background-color: var(--bg);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  background: initial;
  border: none;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.box {
  margin-top: 25px;
  margin-bottom: 15px;
  align-self: center;
  /* width: 70%; */
  background: var(--surface);
  padding: 30px 32px;
  border-radius: 20px;
}

.box__input {
  background-color: var(--bg1);
}

.box__input input {
  color: var(--onsurface);
}

.desc {
  margin: 20px;
}

.container {
  padding: 45px;
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid var(--line); */

  max-width: 1200px;
}

/* .container:first-child {
  border-top: none;
} */

.border {
  border-top: 1px solid var(--line);
}

@media (max-width: 1500px) {
  .container{
    max-width: 1000px;
  }
}

/* .dm-sans {

} */
