.documents {
    display: flex;
}

.documents-menu {
    width: max-content;
    height: 100%;
    position: sticky;
    top: 0px;
}

.documents-menu__nav {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 33px 0px 46px;
    padding-right: 52px;
    background-color: var(--bg1);
    height: 100vh;
}

.documents-menu__title {
    font-size: 34px;
}

.documents-menu__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.documents-menu__nav li {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* color: rgb(37, 44, 68); */
    margin-top: 0px;
    text-decoration: none;
}

.document {
    color: var(--gray);
    background-color: var(--bg1);
    width: 75%;
    margin: 0 auto;
    padding-inline: 30px;
    margin-top: 20px;
    border-radius: 20px;
}

.document__primary-title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

.document__title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

.document__text {
    white-space: normal;
    text-indent: 20px;
    margin-bottom: 10px;
}

.document__ul-numbers {
    list-style-type: decimal;
}

.document__ul-dots {
    list-style-type: disc;
}

.document li {
    margin-top: 5px;
}