@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.announcement-container {
    font-size: 18px;
    color: var(--gray);
    padding: 20px 40px;
    border-radius: 50px;
    border: 1px solid rgb(54 54 54);
    border-left: none;
    border-top: none;
    box-shadow: 1px 2px 2px rgb(54 54 54);
}

.announcement__box {
    display: flex;
    
}

.announcement__contect {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement__desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement__desc p {
    margin-bottom: 20px;
}

.announcement__desc span {
    font-size: 18px;
    font-weight: 600;
    color: var(--onsurface);
}

.announcement__desc-title {
    color: var(--onsurface);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.announcement__contect {
    display: flex;
    align-items: center;
}

.announcement__contect img {
    width: 200px;
    height: auto;
    animation: spin 10s linear infinite; 
    display: block; 
    margin: 0 auto;
}