@keyframes float {
    0%, 100% {
      transform: translateY(3px);
    }
    50% {
      transform: translateY(0px);
    }
  }

.coin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 30px;
    margin-bottom: 50px;
  }
  
  .coin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ccc; */
    border-radius: 20px;
    /* background-color: var(--surface); */
    padding: 20px 30px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: float 3s ease-in-out infinite;
  }

  .coin-card:nth-child(2n) {
    /* margin-top: 50px; */
    top: 10px;
  }

  .coin-card:nth-child(even) {
    animation-delay: 1.5s; /* Затримка для кожного другого елемента */
  }
  
  .coin-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .coin-details {
    text-align: center;
    color: var(--line);
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  