@keyframes float {
  0%, 100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
  }
}

.coin-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 30px;
  margin-bottom: 50px;
}

.coin-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px 30px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: float 3s ease-in-out infinite;
  transform: translateZ(1px);
  cursor: pointer;
}

.coin-card:nth-child(2n) {
  top: 10px;
}

.coin-card:nth-child(even) {
  animation-delay: 1.5s;
}

.coin-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.coin-details {
  text-align: center;
  color: var(--gray);
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}

.show-more-btn {
  display: none;
}

@media (max-width: 400px) {
  .show-more-btn {
    display: block;
    font-size: 20px;
    color: var(--gray);
    margin-bottom: 20px;
  }
}
  