.contacts__box {
    font-size: 18px;
    color: var(--gray);
    margin-top: 20px;
    display: flex;
}

.contacts__desc {
    flex: 1;
}

.contacts__container {
    flex: 1;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
}

.contacts__contact-item img {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .contacts__box {
        flex-direction: column;
    }

    .contacts__container {
        margin-top: 15px;
        margin-right: 0;
    }

    .contacts__contact-item {
        font-size: 18px;
    }

    .contacts__contact-item img {
        width: 40px;
    }
}
