.footer {
    display: block;
    text-align: center;
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    padding: 16px 0;
    border-top: 1px solid var(--line);
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
}

.footer-links__title {
    margin-bottom: 20px;
}

.footer-links__item {
    margin-bottom: 10px;
}