.footer {
    display: block;
    text-align: center;
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    padding: 16px 0;
    border-top: 1px solid var(--line);
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.footer-links__title {
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-links__item {
    margin-bottom: 10px;
    text-align: left;
}

.footer-privacy {
    font-size: 12px;
    text-align: left;
    margin-left: 50px;
}

.footer-links__item--contacts {
    /* position: absolute; */
    margin-top: 20px;
}

.footer__contacts {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    left: 12px;
    font-size: 14px;
}

.footer__contacts img {
    margin-right: 5px;
    width: 30px;
}

.footer__contacts-telegram {
    width: 25px;
}

.footer-links__title {
    display: flex;
    justify-content: space-between;
}

.footer-arrow-container {
    display: none;
    width: 10px;
    height: 10px;
    padding: 3px 0;
    margin-right: 10px;
}

.footer-arrow-up,
.footer-arrow-down {
    position: relative;
    border: 1px solid var(--gray);
}

.footer-arrow-up {
    transform: rotate(50deg);
    left: 10px;
    top: 8px;
}

.footer-arrow-down {
    transform: rotate(310deg);
    left: 4px;
    top: 6px;
}

@media (max-width: 767px) {
    .footer {
        margin-top: 30px;
    }

    .footer__contacts {
        margin-bottom: 10px;
    }

    .footer-links-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .footer-links {
        position: relative;
        margin-bottom: 20px;
        padding-inline: 20px;
    }

    .footer-links__title {
        padding: 10px;
        background-color: var(--bg);
        border-radius: 5px;
    }

    .footer-arrow-container {
        display: block;
    }

    .footer-links__title.active {
        color: var(--onsurface);
    }

    .footer-links__title.active .footer-arrow-up,
    .footer-links__title.active .footer-arrow-down {
        border: 1px solid var(--onsurface);
    }

    .footer-links__title.active .footer-arrow-up {
        transform: rotate(310deg);
    }

    .footer-links__title.active .footer-arrow-down {
        transform: rotate(50deg);
    }

    .footer-links__accordion-content {
        display: none;
        font-size: 18px;
    }

    .footer-privacy { 
        text-align: center;
        margin-left: 0;
    }

    .show {
        display: block;
        padding-inline: 20px;
    }
}
