.header {
    height: 50px;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__wrapper {
    margin-right: auto;
}

.header__wrapper--list {
    margin-left: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__wrapper--list li {
    font-size: 14px;
    font-weight: 700;
    color: var(--onsurface);
    padding: 13px 11px;
}

.header__wrapper--list li:hover {
    background-color: var(--primary);
}
