.header {
    padding: 10px;
    height: 50px;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--line);
}

.header__wrapper {
    margin-right: auto;
}

.header__logo {
    cursor: pointer;
}

.header__wrapper--list {
    margin-left: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__wrapper--list li {
    font-size: 14px;
    font-weight: 700;
    color: var(--onsurface);
    padding: 13px 11px;
    border-radius: 10px;
}

.header__wrapper--list li:hover {
    background-color: var(--primary);
}

.header__contacts {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.header__contacts img {
    margin-right: 5px;
    width: 30px;
}

.header__menu {
    display: none;
}

.header__expanded-menu {
    position: absolute;
    background-color: var(--bg1);
    width: 100%;
    top: 70px;
    left: 0;
    z-index: 3;
}

.header__expanded-menu--list {
    margin: 0;
    padding-inline: 0;
    color: var(--gray);
}

.header__expanded-menu--list li {
    border-bottom: 1px solid var(--bg);
    padding: 15px;
}

.header__expanded-menu--list li:active {
    background-color: var(--gray);
    color: var(--bg1);
}

@media only screen and (max-width: 420px) {
    .header {
        justify-content: space-between;
        height: 30px;
        padding: 20px;
    }

    .header__wrapper,
    .header__contacts {
        display: none;
    }

    .header__menu {
        display: block;
        width: 30px;
    }
}
