.partners {
    display: flex;
    justify-content: space-between;
    /* TODO: last on center */
    gap: 20px;
    flex-wrap: wrap;
}

.partners--logo {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg1);
}

.partners--logo img {
    width: 240px;
    height: 100px;
}

.kucoin {
    transform: scale(2.3);
}

@media (max-width: 1500px) {
    .partners--logo img {
        width: 180px;
        height: 70px;
    }
}

@media (max-width: 400px) {
    .partners {
        justify-content: center;
    }
}
