.card-container {
    display: flex;
    justify-content: center;
    gap: 0 30px;
    flex-flow: wrap;
}

.card-item {
    width: 315px;
    height: 100%;
    border-radius: 30px;
    background-color: var(--surface);
    position: relative;
    /* transition: transform .05s ease;
    transform: rotate3d(1, 1, 1, 360deg); */
}

.card-item:nth-child(even) {
    margin-top: 0px;
    margin-bottom: 25px;
}

.card-item:nth-child(odd) {
    margin-top: -35px;
    margin-bottom: 60px;
}

.card-item:hover {
    transform: scale(1.02);
}

.card-item__content {
    padding: 50px;
}

.card-item__title {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--gray);
}

.card-item__text {
    letter-spacing: -.1px;
    color: var(--gray);
}

.card-item__icon {
    position: absolute;
    top: 10%;
    left: 60%;
    border-radius: 25%;
}

.card-item__icon img {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.card-item__primary {
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--onsurface);
}

.security {
    /* border: 1px solid var(--success); */
    background-color: #588c6b6b;
}

.community {
    /* border: 1px solid var(--primary); */
    background-color: #3772ff36;
}

.clarity {
    /* border: 1px solid var(--red); */
    background-color: #d335352e;
}

.chart {
    /* border: 1px solid var(--gray); */
    background-color: #b1b5c32b;
}

@media (max-width: 400px) {
    .card-container {
        margin-bottom: 20px;
    }

    .card-item__icon img {
        width: 30px;
        height: 30px;
    } 

    .card-item__primary {
        margin-top: 50px;
    }

    .card-item__icon {
        left: 75%;
    }

    .card-item:nth-child(odd),
    .card-item:nth-child(even) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}